@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #1a1f25 0%, #070708 100%);
}

#app {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

i {
    display: block;
    line-height: 0;
}

input, input:focus, label {
    box-shadow: none;
    border: none;
    background-color: white;
    outline: none;
}

button {
    margin: 0;
    padding: 0;

    display: block;
    border: none;
    outline: none;
    background: transparent;
}

button:disabled i {
    color: grey;
}